.container {
  width: 95vw;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: end;
  gap: 50px;
}

.button-logof, .button-user {
  color: (--text-color);
}

.button-logof:hover {
  color: red;
}

.button-user:hover {
  color: var(--primary-color);
}

button {
  background-color: transparent;
  border: none;
  font-size: 26pt;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
