<div class="container">
    <h2>Atualizar Usuário</h2>

    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div class="form-container">
            <div class="tarefa-form-group">
                <label for="email">Email</label>
                <input id="email" formControlName="email" type="text" placeholder="Digite o email">
            </div>

            <div class="tarefa-form-group">
                <label for="senha">Senha</label>
                <input id="senha" formControlName="senha" type="password" placeholder="Digite a senha">
                <input id="senhaConf" formControlName="senhaConf" type="password" placeholder="Digite a senha novamente">
            </div>

            <div class="tarefa-form-group">
                <label for="selectGenero">Gênero</label>
                <select formControlName="codigoGenero" id="selectGenero">
                    <option value="1">Masculino</option>
                    <option value="2">Feminino</option>
                    <option value="3">Não Informar</option>
                </select>
            </div>

            <div *ngIf="usuarioForm.hasError('senhasNaoIguais') && usuarioForm.get('senhaConf')?.touched" class="error-message">
                As senhas não são iguais!
            </div>
            
            <div class="button-controls">
                <button type="submit" [disabled]="!usuarioForm.valid">Salvar Alterações</button>
                <button type="button" (click)="backToHome()">Voltar</button>
            </div>
        </div>
    </form>
</div>