.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-confirm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px
}

button {
    margin: 10px 0 10px 0;
}

.button-controls {
    width: 100%;
    margin: 10px 0 10px 0;
}

